name: Trigger Dokploy Deployment

on:
  push:
    branches:
      - main  # Change this to your default branch if it's not 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Dokploy Deployment
        run: |
          curl -X POST \
            -H "Content-Type: application/json" \
            -d '{}' \
            https://dokploy.class-fi.com/api/deploy/isEnrwfQhduydOcZfac__
