name: Deploy to Dokploy

on:
  push:
    branches:
      - "**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Dokploy
        run: |
          curl -f -S -m 30 -X GET "https://dokploy.class-fi.com/api/deploy/cpwD7vjV56nsrs4EWFLZO"
